fastapi
uvicorn
streamlit
pandas
numpy
lightgbm
xgboost
optuna
shap
scikit-learn
category_encoders
imbalanced-learn
plotly
openai
google-cloud-vision
requests
python-dotenv
Pillow
python-multipart
scipy
matplotlib
seaborn
